@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
  --main-txt-color: whitesmoke;
  --side-pnl-size: 5rem;
  --flip-box-height: 200px;
  --flip-box-width: 200px;
}

* {
  box-sizing: border-box;
  /* font-size: 100%; */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#161616, #000000);
}

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

  margin: 0;
}

.flippers {
  position: fixed;
  top: 0;
  right: var(--side-pnl-size);
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--side-pnl-size);
  border-right: 1px solid var(--main-txt-color);
  align-content: center;
}

.right-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--side-pnl-size);
  border-left: 1px solid var(--main-txt-color);
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: right;
  justify-content: right;
  perspective: 1000px;
  opacity: 0.9;
  /* width: 808px; */
}

span {
  color: aliceblue;
}

#flip {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: relative;
  height: var(--flip-box-height);
  width: var(--flip-box-width);
  background-color: black;
  margin: 1px;
  border: 1px solid var(--main-txt-color);
  border-bottom-right-radius: 1rem;
  font-size: 1.5rem;

  animation: flip 800ms linear;
  animation-fill-mode: backwards;
  transform-origin: top;
}

.box:hover,
.fab:hover {
  position: relative;
  transform: rotateY(180deg);
  transition: all 0.6s ease-in-out 111ms;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;

  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg) translate(50%, -50%);
}

img {
  position: absolute;
  height: calc(var(--flip-box-height) - 2px);
  width: calc(var(--flip-box-width) - 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  object-fit: cover;
}

#blurred {
  filter: blur(3px) grayscale();
  border-bottom-right-radius: 1rem;
}

#itSMe {
  height: calc(var(--flip-box-height) - 15px);
  width: calc(var(--flip-box-width) - 15px);
  border-radius: 50%;
}

.cont1 .box:nth-child(4) {
  animation-delay: 0ms;
}
.cont2 .box:nth-child(3) {
  animation-delay: 400ms;
}
.cont3 .box:nth-child(2) {
  animation-delay: 800ms;
}
.cont4 .box:nth-child(1) {
  animation-delay: 1200ms;
}
.cont1 .box:nth-child(3) {
  animation-delay: 200ms;
}
.cont2 .box:nth-child(2) {
  animation-delay: 600ms;
}
.cont3 .box:nth-child(1) {
  animation-delay: 1000ms;
}
.cont1 .box:nth-child(2) {
  animation-delay: 400ms;
}
.cont2 .box:nth-child(1) {
  animation-delay: 800ms;
}
.cont1 .box:nth-child(1) {
  animation-delay: 600ms;
}

@keyframes flip {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(45deg);
    opacity: 0.5;
  }
  75% {
    transform: rotateX(-20deg);
    opacity: 0.75;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  display: flex;

  justify-content: space-between;
  margin-top: auto;
  border-top: 1px solid var(--main-txt-color);
}

.foot-left {
  display: flex;
  margin-left: var(--side-pnl-size);
}

i {
  opacity: 0.9;
}

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: lightblue;
}

.fa-js-square {
  color: yellow;
}

.fa-react {
  color: cyan;
}

.fa-linkedin-in {
  color: white;
}

.fa-github {
  color: whitesmoke;
}

.fa-twitter {
  color: cyan;
}

.foot-right {
  display: flex;
  flex-direction: row;
  margin-right: var(--side-pnl-size);
}

.foot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-left: 33px;
}

.foot-text {
  margin: auto;
  width: 200px;
  font-size: 2rem;
  color: var(--main-txt-color);
  font-weight: bolder;
  text-align: center;
}

.madeIn {
  font-size: 1rem;
  font-weight: normal;
}

a:any-link,
a:-webkit-any-link {
  color: blanchedalmond;
  text-decoration: none;
}

.article {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 10px 60px rgba(224, 215, 215, 0.12),
    0 1px 4px rgba(196, 182, 182, 0.24);
  border-radius: 10px;
}

article {
  color: white;
}

@media screen and (max-height: 700px) {
  footer {
    background-color: black;
  }
  body {
    overflow: scroll;
  }
}

@media screen and (max-width: 766px) {
  * {
    font-size: 90%;
  }

  .flippers {
    display: flex;
    flex-direction: column;
    position: relative;
    right: auto;
    left: auto;
    top: 10px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .box {
    height: 120px;
  }

  .foot-left {
    margin: auto;
  }

  .foot-right {
    display: none;
  }

  img {
    height: 120px;
  }

  #itSMe {
    height: 110px;
    border-radius: 10px;
  }

  .madeIn {
    display: none;
  }
  .foot-container {
    display: none;
  }
  .left-panel {
    display: none;
  }
  .right-panel {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --side-pnl-size: 10rem;
    --flip-box-height: 300px;
    --flip-box-width: 300px;
  }

  .box {
    font-size: 2.2rem;
  }
}
