@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
  --main-txt-color: whitesmoke;
  --side-pnl-size: 5.4rem;
  --flip-box-height: 200px;
  --flip-box-width: 200px;
}

body {
  box-sizing: border-box;
  background-color: black;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

canvas {
  position: absolute;
  background: radial-gradient(#191919, #000000);
}

.flippers {
  position: fixed;
  right: var(--side-pnl-size);
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  height: 100%;
  width: var(--side-pnl-size);
  border-right: 1px solid var(--main-txt-color);
}

.miniBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: var(--side-pnl-size);
}

.miniBack {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container {
  display: flex;
  justify-content: right;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  opacity: 0.9;
}

.right-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--side-pnl-size);
  border-left: 1px solid var(--main-txt-color);
}

.box {
  position: relative;
  height: var(--flip-box-height);
  width: var(--flip-box-width);
  margin: 1px;
  border: 1px solid var(--main-txt-color);
  border-bottom-right-radius: 1rem;
  background-color: black;
  font-size: 1.5rem;

  animation: flip 800ms linear;
  animation-fill-mode: backwards;
  transform-origin: top;
  box-shadow: 0 10px 60px rgba(224, 215, 215, 0.12),
    0 1px 4px rgba(196, 182, 182, 0.24);
}

.front,
.back {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;

  transform: translate(-50%, -50%);
}

.cutCorner {
  overflow: hidden;
}

.back {
  transform: rotateY(180deg) translate(50%, -50%);
}

.miniBox:hover,
.box:hover,
.left-panel .fab:hover,
.foot-right .fab:hover {
  position: relative;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease-in-out 111ms;
  transition: all 0.6s ease-in-out 111ms;
  transform-style: preserve-3d;
}

#flip {
  transform: translate(-50%, -50%);
}

i {
  opacity: 0.9;
}

span {
  color: var(--main-txt-color);
}

img {
  position: absolute;
  height: var(--flip-box-height);
  width: var(--flip-box-width);
  object-fit: cover;

  transform: translate(-50%, -50%);
}

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: lightblue;
}

.fa-js-square {
  color: yellow;
}

.fa-react,
.fa-twitter {
  color: cyan;
}

.fa-linkedin-in {
  color: white;
}

.fa-github {
  color: whitesmoke;
}

.fa-envelope {
  color: blanchedalmond;
}

.cont1 .box:nth-child(4) {
  animation-delay: 0ms;
}
.cont2 .box:nth-child(3) {
  animation-delay: 400ms;
}
.cont3 .box:nth-child(2) {
  animation-delay: 800ms;
}
.cont4 .box:nth-child(1) {
  animation-delay: 1200ms;
}
.cont1 .box:nth-child(3) {
  animation-delay: 200ms;
}
.cont2 .box:nth-child(2) {
  animation-delay: 600ms;
}
.cont3 .box:nth-child(1) {
  animation-delay: 1000ms;
}
.cont1 .box:nth-child(2) {
  animation-delay: 400ms;
}
.cont2 .box:nth-child(1) {
  animation-delay: 800ms;
}
.cont1 .box:nth-child(1) {
  animation-delay: 600ms;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  border-top: 1px solid var(--main-txt-color);
}

.foot-left {
  display: flex;
  margin-left: var(--side-pnl-size);
}

.foot-right {
  display: flex;
  margin-right: var(--side-pnl-size);
}

.foot-text {
  margin: auto;
  width: 200px;

  text-align: center;
  font-size: 2rem;
  color: var(--main-txt-color);
  font-weight: bolder;
}

.madeIn {
  font-size: 1rem;
  font-weight: normal;
}

.foot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 33px 10px 10px;
}

a:any-link,
a:-webkit-any-link {
  color: blanchedalmond;
  text-decoration: none;
}

.article {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 10px 60px rgba(224, 215, 215, 0.12),
    0 1px 4px rgba(196, 182, 182, 0.24);
  font-size: 1.4rem;
  color: var(--main-txt-color);
  background: radial-gradient(#191919, #000000);
}

.article h3 {
  text-transform: uppercase;
  margin-top: 0;
}

.lowBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p.bold {
  font-weight: bolder;
}

.sources,
.prSolving {
  width: 350px;
}

.fa-download {
  font-size: 1.2rem;
  padding-left: 0;
  padding-right: 0.5rem;
  color: #434343;
}

@keyframes flip {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(45deg);
    opacity: 0.5;
  }
  75% {
    transform: rotateX(-20deg);
    opacity: 0.75;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@media screen and (max-height: 700px) {
  footer {
    background-color: black;
  }
  body {
    overflow: hidden scroll;
  }
}

@media screen and (max-width: 770px) {
  * {
    font-size: 90%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .flippers {
    position: relative;
    right: auto;
    left: auto;
    top: 10px;
  }

  #canvas1 {
    padding-bottom: 120px;
  }

  .box {
    height: 115px;
  }

  .foot-left {
    margin: auto;
  }

  .foot-right {
    display: none;
  }

  img {
    height: 115px;
  }

  .madeIn {
    display: none;
  }

  footer {
    background-color: black;
  }

  .foot-container {
    display: none;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    display: none;
  }

  .article {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --side-pnl-size: 10rem;
    --flip-box-height: 277px;
    --flip-box-width: 277px;
  }

  .box {
    font-size: 2rem;
  }
}
